.titulo-main{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 607px;
    font-size: 60px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    
}
.subtitulo-main{
    display: flex;
    justify-content: start;
    font-size: 20px;
    width: 554px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}