*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
   
    
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: grid;
    height: 100vh;
    background-image: url(./img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-areas: 
    "header header header"
    "main main nav"
    "footer footer footer";
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr ;
}

header{
    margin-top: 30px;
    grid-area: header;
}
main{
    grid-area: main;
    padding: 90px;
    
}

nav{
    grid-area: nav;
}

footer{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    grid-area: footer;
}